
body {
  background-color: #b1e4f3;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif; 
}


h1 {
  box-shadow: 0 4px 8px rgba(58, 3, 3, 0.986);
  background-color: #ffffffe7;
  text-align: center;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
}

/* Navigation Bar */
nav {
  margin-top: 50px;
  box-shadow: 0px 2px 5px rgb(0, 0, 0);
}

nav ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: rgb(255, 255, 255);
}

nav ul li {
  display: inline-block;
  padding: 20px;
}

nav a {
  text-decoration: none;
  color: rgb(157, 157, 231);
  text-transform: uppercase;
  border-radius: 5px;
  padding: 10px;
}

nav a:hover,
nav a.active {
  background-color: rgb(0, 0, 0);
  color: rgb(44, 7, 255);
}


.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  flex-wrap: wrap; 
  gap: 20px;
}

.content-container {
  display: flex;
  flex-direction: row; 
  gap: 20px;
  max-width: 800px;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.main-image {
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  height: auto;
}


.text-box {
  flex: 1;
  padding: 20px;
  background-color: white;
  border: 1px solid #000000;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


.footer {
  box-shadow: 0 4px 8px rgba(2, 58, 10, 0.986);
  text-align: left;
  padding: 10px;
  background-color: #32ee21;
  position: relative;
  bottom: 0;
  width: 100%;
  border: 1px solid #df5d7e;
  border-radius: 5px;
}


.projects {
  padding: 20px;
  text-align: center;
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.project-item {
  background-color: #f4f4f4;
  border-radius: 8px;
  overflow: hidden;
  width: calc(33.33% - 20px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.project-item img {
  width: 100%;
  height: auto;
  display: block;
}

.project-description {
  padding: 15px;
}


.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  height: 100vh;
  padding: 20px;
}

/*  About Page Layout         */                
.left img {
  width: 100%;
  height: auto;
  max-height: 100vh;
  object-fit: cover;
  object-fit: cover;       
  border-radius: 50%;       
  border: 3px solid #000
}

.right {
  grid-column: 2; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}


@media (max-width: 700px) {
  .content-container,
  .container {
      flex-direction: column; 
  }

  nav ul {
      text-align: left;
  }

  /* CONTACT PAGE */
  .email-box {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}







}
